body{
    background-color: rgb(31, 30, 30);
    color: white;
}

ul{
    list-style: none;
}

li span{
    user-select: none;
    cursor: pointer;
    word-wrap: break-word;
    max-width: 100%;
}

i{
    cursor: pointer;
}